name: Demo delete
on:
  workflow_call:
    inputs:
      app:
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      base-path:
        required: true
        type: string

jobs:
  delete-demo-app:
    if: startsWith(github.event.ref, 'demo-') || startsWith(github.event.ref, 'dev-')
    name: Delete demo branch dev-gcp
    runs-on: ubuntu-latest
    env:
      DEMO_APPNAME: demo-${{ inputs.app }}-${{ github.event.ref }}
      DEMO_INGRESS: ${{ inputs.app }}-${{ github.event.ref }}
    steps:
      - uses: actions/checkout@v4
      - name: Skaler ned demo app i dev-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/app/demo.yaml
          IMAGE: ghcr.io/navikt/${{ inputs.app }}:latest
          VAR: appname=${{ env.DEMO_APPNAME }},replicas=0,branchState=deleted,ingress=https://${{ env.DEMO_INGRESS }}.ekstern.dev.nav.no/${{inputs.base-path}}
