name: Label dependabot pr
on:
  workflow_call:

jobs:
  label-pr:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
    steps:
      - name: Fetch Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v1
      - name: Label patch
        if: ${{ steps.dependabot-metadata.outputs.update-type == 'version-update:semver-patch' }}
        run: gh pr edit "$PR_URL" --add-label automerge --repo $GITHUB_REPOSITORY
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Label minor
        if: ${{ steps.dependabot-metadata.outputs.update-type == 'version-update:semver-minor' }}
        run: gh pr edit "$PR_URL" --add-label automerge --repo $GITHUB_REPOSITORY
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
