# Apper som bruker denne https://cs.github.com/?scopeName=All+repos&scope=&q=org%3Anavikt+%22navikt%2Fflex-github-actions-workflows%2F.github%2Fworkflows%2Fnext-js.yml%40master%22+NOT+is%3Aarchived

name: Next js
on:
  workflow_call:
    inputs:
      app:
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      base-path:
        required: true
        type: string
      sentry-project:
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      sentry-enabled:
        required: false
        default: true
        type: boolean
    outputs:
      image:
        value: ${{ jobs.build-and-publish.outputs.image }}

jobs:
  build-and-publish:
    name: Bygg, test og publiser docker image
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.lag-image.outputs.image }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: next.js cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
      - name: Cache Cypress binary
        uses: actions/cache@v3
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-${{ hashFiles('package.json') }}
      - name: Generer image
        id: lag-image
        run: |
          TIME=$(TZ="Europe/Oslo" date +%Y.%m.%d-%H.%M)
          COMMIT=$(git rev-parse --short=8 HEAD)
          VERSION=$TIME-$COMMIT
          echo "image=ghcr.io/navikt/${{ inputs.app }}:$VERSION" >> $GITHUB_OUTPUT
      - name: Install npm dependencies
        env:
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm ci
      - name: Run prettier
        run: npm run prettier:check
      - name: Run lint
        run: npm run lint
      - name: Run tests
        run: npm run test:ci
      - name: Enable sentry i master
        if: github.ref_name == 'master' && inputs.sentry-enabled == true
        run: echo "ENABLE_SENTRY=true" >> $GITHUB_ENV
      - name: Build application
        run: npm run build
        env:
          SENTRY_URL: https://sentry.gc.nav.no/
          SENTRY_ORG: nav
          SENTRY_PROJECT: ${{ inputs.sentry-project }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Last opp static files til NAV CDN
        uses: navikt/frontend/actions/cdn-upload/v1@main
        with:
          cdn-team-name: flex
          source: ./.next/static
          destination: /${{github.event.repository.name}}/_next
      - name: Docker login
        if: github.ref_name == 'master' || startsWith(github.ref_name, 'dev-')  || startsWith(github.ref_name, 'demo-')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo ${GITHUB_TOKEN} | docker login ghcr.io --username ${GITHUB_REPOSITORY} --password-stdin
      - name: Bygg og push Docker image
        if: github.ref_name == 'master' || startsWith(github.ref_name, 'dev-')  || startsWith(github.ref_name, 'demo-')
        run: |
          docker build . -f Dockerfile -t ${{ steps.lag-image.outputs.image }}
          docker push ${{ steps.lag-image.outputs.image }}
      - name: cache workspace
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}
          key: ${{ github.sha }}
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@12e36fc18b0689399306c2e0b3e0f2978b7f1ee7
        if: failure() && github.ref_name == 'master'
        env:
          SLACK_COLOR: '#ff0000'
          SLACK_MESSAGE: ${{ github.event.repository.name }} bygget feiler på master
          SLACK_TITLE: 'Auda :alert:'
          SLACK_WEBHOOK: ${{ secrets.SPOKELSER_WEBHOOK }}

  cypress:
    needs: build-and-publish
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: [ 0, 1, 2, 3 ]
    steps:
      - name: cache workspace
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}
          key: ${{ github.sha }}
      - name: cache cypress binary
        uses: actions/cache@v3
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-${{ hashFiles('package.json') }}
      - name: Kjør cypress
        uses: cypress-io/github-action@v5.1.0
        with:
          start: npm run start-ingen-dekorator
          wait-on: http://localhost:8080/${{inputs.base-path}}/api/internal/isAlive
          config-file: cypress.config.ts
          spec: cypress/e2e/run-${{ matrix.containers }}/**
          install: false
        env:
          MOCK_BACKEND: 'true'
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore
      - name: Slack Notification ved feil
        uses: rtCamp/action-slack-notify@12e36fc18b0689399306c2e0b3e0f2978b7f1ee7
        if: failure() && github.ref_name == 'master'
        env:
          SLACK_COLOR: '#ff0000'
          SLACK_MESSAGE: ${{ github.event.repository.name }} cypress tester feiler på master
          SLACK_TITLE: 'Auda :alert:'
          SLACK_WEBHOOK: ${{ secrets.SPOKELSER_WEBHOOK }}

  snyk-npm:
    needs: build-and-publish
    uses: navikt/flex-github-actions-workflows/.github/workflows/snyk-npm.yml@master
    secrets: inherit

  snyk-docker:
    needs: build-and-publish
    uses: navikt/flex-github-actions-workflows/.github/workflows/snyk-docker.yml@master
    with:
      image: ${{ needs.build-and-publish.outputs.image }}
    secrets: inherit

  nais-deploy:
    needs: [build-and-publish, cypress]
    uses: navikt/flex-github-actions-workflows/.github/workflows/nais-deploy-dev-og-prod.yml@master
    with:
      image: ${{ needs.build-and-publish.outputs.image }}
      app: ${{ inputs.app }}
    secrets: inherit

  deploy-demo-branch-til-dev-gcp:
    if: startsWith(github.ref_name, 'demo-')
    name: Deploy demo branch til dev-gcp
    needs: build-and-publish
    runs-on: ubuntu-latest
    env:
      DEMO_APPNAME: demo-${{ inputs.app }}-${{ github.ref_name }}
      DEMO_INGRESS: ${{ inputs.app }}-${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v3
      - name: Deploy demo branch til dev-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/app/demo.yaml
          IMAGE: ${{ needs.build-and-publish.outputs.image }}
          VAR: appname=${{ env.DEMO_APPNAME }},replicas=1,branchState=alive,ingress=https://${{ env.DEMO_INGRESS }}.ekstern.dev.nav.no/${{inputs.base-path}}
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@12e36fc18b0689399306c2e0b3e0f2978b7f1ee7
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: 'Ny demo versjon av ${{ inputs.app }} ute :rocket: https://${{ env.DEMO_APPNAME }}.ekstern.dev.nav.no/${{inputs.base-path}}'
          SLACK_TITLE: ${{ github.ref_name }}
          SLACK_USERNAME: Demo deploy
          SLACK_ICON: ':lab_coat:'
          SLACK_WEBHOOK: ${{ secrets.LABS_DEPLOY_WEBHOOK }}

  deploy-demo-til-dev-gcp:
    if: github.ref_name == 'master'
    name: Deploy demo til dev-gcp
    needs: [build-and-publish, cypress]
    concurrency: deploy-demo-til-dev-gcp
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy til dev-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/app/demo.yaml
          IMAGE: ${{ needs.build-and-publish.outputs.image }}
          VAR: appname=demo-${{ inputs.app }},replicas=1,branchState=alive,ingress=https://demo.ekstern.dev.nav.no/${{inputs.base-path}}
