# Apper som bruker denne https://cs.github.com/?scopeName=All+repos&scope=&q=org%3Anavikt+%22navikt%2Fflex-github-actions-workflows%2F.github%2Fworkflows%2Fnext-js.yml%40main%22+NOT+is%3Aarchived

name: Next js
on:
  workflow_call:
    inputs:
      app:
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      port:
        required: false
        default: "8080"
        type: string
      base-path:
        required: true
        type: string
      node-version:
        required: false
        default: "20"
        type: string
    outputs:
      image:
        value: ${{ jobs.build-and-publish.outputs.image }}

jobs:
  # Build, lint, test and check for Playwright
  build-and-test:
    uses: ./.github/workflows/nextjs/build-and-test.yml
    with:
      node-version: ${{ inputs.node-version }}
    secrets: inherit

  # Run Cypress tests
  cypress-tests:
    needs: [build-and-test]
    uses: ./.github/workflows/nextjs/cypress-tests.yml
    with:
      port: ${{ inputs.port }}
      base-path: ${{ inputs.base-path }}
    secrets: inherit

  # Build and publish Docker images and CDN assets
  build-and-publish:
    needs: [build-and-test]
    uses: ./.github/workflows/nextjs/build-and-publish.yml
    secrets: inherit

  # Run Playwright tests if they exist
  playwright-tests:
    needs: [build-and-test, build-and-publish]
    if: needs.build-and-test.outputs.playwright_exists == 'true'
    uses: ./.github/workflows/nextjs/playwright-tests.yml
    with:
      playwright_exists: ${{ needs.build-and-test.outputs.playwright_exists == 'true' }}
    secrets: inherit

  # Deploy to production and staging
  nais-deploy:
    needs: [build-and-test, cypress-tests, playwright-tests, build-and-publish]
    if: always() && !cancelled() && !failure()
    uses: navikt/flex-github-actions-workflows/.github/workflows/nais-deploy-dev-og-prod.yml@main
    with:
      image: ${{ needs.build-and-publish.outputs.image }}
      app: ${{ inputs.app }}
    secrets: inherit

  # Deploy demo environments
  deploy-demo:
    needs: [build-and-test, build-and-publish]
    uses: ./.github/workflows/nextjs/deploy-demo.yml
    with:
      app: ${{ inputs.app }}
      base-path: ${{ inputs.base-path }}
      image: ${{ needs.build-and-publish.outputs.image }}
    secrets: inherit
