name: Snyk docker
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string

jobs:
  snyk-monitor-docker:
    if: github.ref_name == 'master'
    runs-on: ubuntu-latest
    steps:
      - name: Run Snyk to check Docker images for vulnerabilities
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          image: ${{ inputs.image }}
          args: --org=flex-kmy --severity-threshold=critical --project-name=${{ github.repository }}

  snyk-test-docker:
    if: github.ref_name == 'master' || startsWith(github.ref_name, 'dev-')
    runs-on: ubuntu-latest
    steps:
      - name: Run Snyk to check Docker images for vulnerabilities
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          image: ${{ inputs.image }}
          args: --org=flex-kmy --severity-threshold=high --project-name=${{ github.repository }}
