name: Trivy docker
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string


jobs:
  trivy-test-docker:
    if: github.ref_name == 'master' || startsWith(github.ref_name, 'dev-')
    runs-on: ubuntu-latest
    steps:
      - uses: nais/login@v0
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: flex

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ inputs.image }}
          ignore-unfixed: true
          vuln-type: 'os'
          severity: 'CRITICAL,HIGH'
          format: 'sarif'
          output: 'trivy-results.sarif'
          scanners: 'vuln'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ inputs.image }}
          format: 'table'
          exit-code: '1' 
          ignore-unfixed: true
          vuln-type: 'os'
          severity: 'CRITICAL,HIGH'
          scanners: 'vuln'
        
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@12e36fc18b0689399306c2e0b3e0f2978b7f1ee7
        if: failure() && github.ref_name == 'master'
        env:
          SLACK_COLOR: '#ff0000'
          SLACK_MESSAGE: ${{ github.event.repository.name }} bygget feiler p책 master pga. en critical eller high severity s책rbarhet avdekket i trivy scan av docker imaget som kan patches, p책 tide 책 oppdatere!
          SLACK_TITLE: 'Auda :alert:'

      